@font-face {
    font-weight: 300;
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    src: url("fonts/Lato-Light.woff2") format("woff2"),
    url("fonts/Lato-Light.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    src: url("fonts/lato-regular.woff2") format("woff2"),
    url("fonts/lato-regular.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    src: url("fonts/lato-bold.woff2") format("woff2"),
    url("fonts/lato-bold.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: "Circe";
    font-style: normal;
    font-display: swap;
    src: url("fonts/Circe-ExtraBold.woff2") format("woff2"),
    url("fonts/Circe-ExtraBold.woff") format("woff");
}





/* ==========================================================================
   SPECIFICATION
   ========================================================================== */

html {
    box-sizing: border-box;
}

html *, html ::after, html ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 17px;
    font-family: "Lato", Tahoma, sans-serif;
    word-wrap: break-word;
    color: #222222;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}





/* ==========================================================================
   Main header
   ========================================================================== */

.main-header {
    padding-top: 65px;
    padding-bottom: 36px;
}

.main-header__logo {
    margin: 0 auto;
}





/* ==========================================================================
   Projects
   ========================================================================== */

.projects-wrapper {
    background-repeat: repeat;
}

body:not(.is-mobile) .projects-wrapper {
    background-attachment: fixed;
}

.no-js .projects-wrapper,
.no-webp .projects-wrapper {
    background-image: url("img/bg/logo-bg.png");
}

.webp .projects-wrapper {
    background-image: url("img/bg/logo-bg.webp");
}

.projects {
    padding-bottom: 65px;
}

.section-title {
    font-weight: 800;
    font-size: 30px;
    font-family: "Circe", Tahoma, sans-serif;
    text-transform: uppercase;
    color: #2b2b2b;
}

.projects__subtitle {
    margin-top: 0;
    margin-bottom: 33px;
    line-height: 1.3em;
}

.projects__title {
    margin-top: 0;
    margin-bottom: 30px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.projects__item {
    margin-right: 45px;
}

.projects__item:nth-child(3n) {
    margin-right: 0;
}

.projects__item:nth-child(n + 4) {
    margin-top: 44px;
}

.project {
    width: 370px;
}

.no-js .project {
    /*visibility: visible !important;*/
}

.project__link {
    position: relative;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}

.project--disabled .project__link {
    background-color: #afafaf;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: auto;
}

.no-webp .project--disabled .project__link,
.no-js .project--disabled .project__link {
    background-image: url("img/bg/project-head-disabled.jpg");
}

.webp .project--disabled .project__link {
    background-image: url("img/bg/project-head-disabled.webp");
}

.project__link::before,
.project__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.project--disabled .project__link::before,
.project--disabled .project__link::after {
    content: none;
}

.project__link::before {
    z-index: 2;
    background-color: #0051a6;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-webp .project__link::before,
.no-js .project__link::before {
    background-image: url("img/bg/project-head-bg-1.jpg");
}

.webp .project__link::before {
    background-image: url("img/bg/project-head-bg-1.webp");
}

.project__link::after {
    z-index: 1;
    background-color: #0051a6;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-webp .project__link::after,
.no-js .project__link::after {
    background-image: url("img/bg/project-head-bg-2.jpg");
}

.webp .project__link::after {
    background-image: url("img/bg/project-head-bg-2.webp");
}

.projects__item:hover .project__link::before {
    opacity: 0;
}

.project__head {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
    margin-bottom: 16px;
    padding: 15px 15px 15px 50px;
    color: #fff;
    border-radius: 4px;
}

.project--video-courses .project__head {
    padding-left: 75px;
}

.project__head h3 {
    position: relative;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25em;
}

.project--video-courses .project__head h3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -47px;
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    background: url("img/base/triangle.svg") no-repeat 10px center;
    border-radius: 50%;
    transform: translate(0, -50%);
}

.project__head p {
    margin: 0;
    font-size: 20px;
    line-height: 1.2em;
}

.project__text {
    line-height: 1.3em;
}

.project__text p {
    margin: 8px 0;
}

.project__text a {
    position: relative;
    color: #006ad6;
}

.project__text a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #006ad6;
    transition: all 0.2s ease;
}

.project__text a:hover::after {
    transform: scaleX(0);
}

.project__text *:first-child {
    margin-top: 0;
}

.project__text *:last-child {
    margin-bottom: 0;
}





/* ==========================================================================
   About
   ========================================================================== */

.about {
    padding-top: 70px;
    padding-bottom: 60px;
    line-height: 1.3em;
    color: #fff;
    background-color: #005fc5;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.no-webp .about,
.no-js .about {
    background-image: url("img/bg/about.jpg");
}

.webp .about {
    background-image: url("img/bg/about.webp");
}

.about h2 {
    margin-bottom: 37px;
    font-weight: 800;
    font-size: 30px;
    font-family: "Circe", Tahoma, sans-serif;
    text-transform: uppercase;
}

.about img {
    float: left;
    width: 570px;
    margin-right: 35px;
    border: 1px solid #c1ebff;
    border-radius: 4px;
}

.about p,
.about ul {
    margin: 21px 0;
}

.about strong {
    font-weight: 700;
}

.about .accent-text {
    padding: 21px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.about blockquote {
    position: relative;
    margin: 65px 0 0 0;
    padding: 0 100px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.about blockquote::before,
.about blockquote::after {
    position: absolute;
    display: block;
    font-size: 249px;
}


.about blockquote::before {
    content: '“';
    top: 80px;
    left: -10px;
}

.about blockquote::after {
    content: '„';
    right: -10px;
    bottom: 80px;
}

.about *:first-child {
    margin-top: 0;
}

.about *:last-child {
    margin-bottom: 0;
}





/* ==========================================================================
   Main footer
   ========================================================================== */
.main-footer {
    padding: 30px 0;
    background-color: #191919;
}

.main-footer__copyright,
.main-footer__privacy-policy {
    margin: 0;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.main-footer__privacy-policy a {
    position: relative;
    color: #fff;

}

.main-footer__privacy-policy a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease;
    transform: scaleX(1);
}

.main-footer__privacy-policy a:hover::after {
    transform: scaleX(0);
}